@model portfolio.Models.Comment
<!-- Contact Section -->
<form asp-action="Create" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <input asp-for="name" class="form-control" placeholder="Enter Name" />
        <span asp-validation-for="name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input asp-for="position" class="form-control" placeholder="Enter Position" />
        <span asp-validation-for="position" class="text-danger"></span>
    </div>
    <div class="form-group">
        <textarea asp-for="message" class="form-control" cols="30" rows="3" placeholder="Enter Message"></textarea>
        <span asp-validation-for="message" class="text-danger"></span>
    </div>
    <div class="form-group">
        Choose Profile : <input type="file" asp-for="img" class="form-control" />
        <span asp-validation-for="img" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary btn-block rounded w-lg" />
    </div>
</form>
<!-- End of Contact Section -->
